:root{
  --color1: rgb(66, 129, 164);
  --color1-dark: /*rgb(42, 90, 117);*/rgb(32, 77, 102);
  --color1-gradient: linear-gradient(145deg, var(--color1) 0%, var(--color1-dark) 100%);
  --color2: rgb(217, 150, 109);
  --color2-dark: rgb(208, 131, 83);
  --color2-gradient: linear-gradient(145deg, var(--color2) 0%, var(--color2-dark) 100%);
  --color3: rgb(229, 240, 246);
  --color3-gradient-L: linear-gradient(90deg, rgba(229, 240, 246, 0) 0%, #E5F0F6 25%, #E5F0F6 100%);
  --color3-gradient-R: linear-gradient(270deg, rgba(229, 240, 246, 0) 0%, #E5F0F6 25%, #E5F0F6 100%);
  --color4: rgb(156, 175, 183);
  --shadow1:  0px 5px 5px rgba(0, 0, 0, 0.25);
  --shadow2:  0px 5px 10px rgba(0, 0, 0, 0.5);
}
* {
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  background-color: var(--color3);
}
h1{
  font-weight: 900;
  font-size: 60px;
  display: flex;
  align-items: center;
  color: var(--color2);
  margin: 0;
  min-height: 150px;
}
h2{
  font-weight: 900;
  font-size: 2.1em;
  display: flex;
  align-items: center;
  color: var(--color1);
  margin: 0;
}
h3{
  font-weight: 900;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  color: var(--color3);
  margin: 0;
}
h4{
  font-weight: 700;
  font-size: 1em;
  display: flex;
  align-items: center;
  color: var(--color3);
  margin: 0;
}
p{
  font-size: 1.05em;
}
button{
  display: flex;
  justify-content: center;
  background-color: var(--color2);
  color: var(--color3);
  border: none;
  min-width: 250px;
  height: 40px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  justify-items: center;
  cursor: pointer;
  transition: 0.2s ease-in;
}
button:hover{
  background-color: var(--color3);
}
button:hover > h3{
  color: var(--color2);
  transition: 0.2s ease-in;
}
.button-lg{
  width: 250px;
  height: 75px;
  background: var(--color1);
  border: 3px solid var(--color1);
  border-radius: 25px;
  cursor: pointer;
  color: var(--color3);
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: var(--shadow1);
  margin: 10px;
  transition: 0.2s ease-in;
}
.button-lg:hover{
  background: var(--color3);
  color: var(--color1);
}
@media (max-width: 700px){
  .button-lg{
    height: 50px;
    font-size: 1em;
  }
  p{
    font-size: 0.95em;
  }
}
.page-layout{
  padding-top: 55px;
}
.page-layout > .top{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
}
.page-layout > .top > h3{
  color: var(--color1);
  max-width: 1200px;
  text-align: center;
}
.page-layout > .mid{
  background-color: var(--color4);
}
.page-layout > .lower{
  background: var(--color1-gradient);
}
@media (max-width: 700px){
  h2{
    font-size: 1.5em;
  }
  h1{
    font-size: 2em;
  }
  .page-layout{
    padding-top: 75px;
  }
  .page-layout > .top h1{
    font-size: 1.9em;
  }
}